extends layout
block assets
  != js('pages/fullpage')
  != css('pages/fullpage')

block content
  h1.fixed
    p this is fullpage demo1
  #fullpage
    .rect
      |rect
    .section
    .section
    .section
      |3
